# Project:    iTerm2-Color-Schemes: Galaxy
# Repository: https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/termite/Galaxy
# License:    MIT

[options]
font =                      SF Mono 8 
browser =                   chromium
allow_bold =                true
clickable_url =             true
scrollbak_lines =           50000
search_wrap =               true
audible_bell =              false
cursor_blink =              system
dynamic_title =             true
scroll_on_output =          false
scroll_on_keystroke =       true


[colors]
background = #1d2837
cursor = #bbbbbb
foreground = #ffffff
color0 = #000000
color1 = #f9555f
color2 = #21b089
color3 = #fef02a
color4 = #589df6
color5 = #944d95
color6 = #1f9ee7
color7 = #bbbbbb
color8 = #555555
color9 = #fa8c8f
color10 = #35bb9a
color11 = #ffff55
color12 = #589df6
color13 = #e75699
color14 = #3979bc
color15 = #ffffff
colorBD = #ffffff
colorIT =
colorUL =
